<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.yan.mapper.NoteMapper">

    <resultMap id="noteMap" type="Note">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="text" column="text"/>
        <result property="timing" column="timing"/>
        <association property="userDO" column="name" select="com.yan.mapper.UserMapper.getUserByName"/>
    </resultMap>

    <sql id="note_cols">
        id,name,text,timing
    </sql>

    <!--需要级联查询，所以使用resultMap-->
    <select id="listNote" resultMap="noteMap">
        select <include refid="note_cols"/> from note order by timing desc
    </select>

    <!--不需要级联查询，所以使用resultType-->
    <select id="listNoteByName" resultType="Note">
        select <include refid="note_cols"/> from note where name = #{name} order by timing desc
    </select>

    <insert id="insertNote">
        insert into note values(null,#{userName},#{says},#{timing})
    </insert>

    <select id="countNote" resultType="int">
        select count(*) from note
    </select>
</mapper>