<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/bootstrap3.3.7/css/bootstrap.min.css}"/>
</head>
<body style="background-color: #f6f6f6">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- 可以放一个logo -->
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">XC</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/index}">吐槽</a></li>
                    <li><a href="">学习</a></li>
                    <li><a th:href="@{/enjoy/enjoyIndex}">娱乐</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" action="" method="post">
                            <div class="form-group">
                                <input type="text" id="keyword" name="keyword" class="form-control" placeholder="搜索关键字">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </li>
                    <li th:if="${session.userDO}!=null" class="dropdown">
                        <a style="padding: 10px"  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{'/header/'+${session.userDO.header}}" width="20px" src="">
                            <span th:text="${session.userDO.userName}"></span>
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="btn" th:href="@{/userSetting/home}"><i class="glyphicon glyphicon-home"></i>个人主页</a></li>
                            <li><a class="btn" th:href="@{/userSetting/settingbase}"><i class="glyphicon glyphicon-cog"></i>个人设置</a></li>
                            <li><a class="btn" th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.userDO}==null">
                        <a style="color: blue" th:href="@{/login}">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <form class="form-horizontal" onsubmit="return checkSays()" th:action="@{/note/sendNote}" method="post">
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <textarea class="form-control" placeholder="说点什么吧！" name="says" id="says" cols="70" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button class="btn btn-primary pull-right" type="submit">吐槽</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="main" style="font-family:微软雅黑;">
            <th:block th:if="${not #lists.isEmpty(notes)}">
                <div th:each="note:${notes}" class="row col-md-offset-2 col-md-8">
                    <div style="background-color: white;margin: 5px;padding: 5px">
                        <img style="border-radius:50%;" src="" th:src="@{'/header/'+${note.userDO.header}}" width="40px">
                        <span style="font-size: 25px" th:text="${note.userDO.userName}"></span>
                        <p style="margin-left: 30px;font-size: 18px" th:if="${#strings.length(note.text)<=3}" th:text="${note.text}"></p>
                        <p style="margin-left: 30px;font-size: 18px" th:if="${#strings.length(note.text)>3}">
                            <span style="display: block;" th:text="${#strings.substring(note.text,0,3)}+'...'"></span>
                            <span style="display: none;" th:text="${note.text}"></span>
                            <button onclick="changeState(this)" class="btn btn-link">阅读全文</button>
                        </p>
                        <p style="text-align:right;" th:text="${#dates.format(note.timing,'yyyy年MM月dd日 HH:mm:ss')}"></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <a id="toTop" href="javascript:void(0);" style="right:50px;position: fixed;bottom: 30px;display: none;">
        <img width="50px" src="" th:src="@{/image/toTop.png}" title="回到顶部">
    </a>
<footer style="text-align: center;margin: 20px">
    <label>2018&nbsp;&nbsp;&nbsp;&copy;&nbsp;&nbsp;&nbsp;xc</label>
</footer>
</body>

<script th:src="@{/bootstrap3.3.7/js/jquery.min.js}"></script>
<script th:src="@{/bootstrap3.3.7/js/bootstrap.min.js}"></script>
<script>
    function changeState(obj) {
        if(obj.innerHTML==="阅读全文"){
            obj.parentNode.children[0].style.display="none";
            obj.parentNode.children[1].style.display="block";
            obj.innerHTML="收起";
        }else if(obj.innerHTML==="收起"){
            obj.parentNode.children[0].style.display="block";
            obj.parentNode.children[1].style.display="none";
            obj.innerHTML="阅读全文";
        }
    }
    function checkSays() {
        var says = document.getElementById("says").value;
        if(says===""||says===null){
            return false;
        }
    }
    var begin = 0;
    //滚动条到页面底部加载更多案例
    $(window).scroll(function(){
        var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
        var scrollHeight = $(document).height();   //当前页面的总高度
        var clientHeight = $(this).height();    //当前可视的页面高度
        if(scrollTop + clientHeight >= scrollHeight){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部
            //滚动条到达底部
            begin += 5;
            $.post("/note/listNote",{"begin":begin},function (notes) {
                var ht = "";
                $(notes).each(function (index,element) {
                    ht += '<div class="row col-md-offset-2 col-md-8">'
                                +'<div style="background-color: white;margin: 5px;padding: 5px">'
                                +'<img style="border-radius:50%;" src="/header/'+element["userDO"]["header"]+'" width="40px">'
                                +'<span style="font-size: 25px">'+element["userDO"]["userName"]+'</span>';
                        var text = element["text"];
                        if(text.length<=3){
                            ht+='<p style="margin-left: 30px;font-size: 18px">'+text+'</p>';
                        }else {
                            ht+='<p style="margin-left: 30px;font-size: 18px">'
                                    +'<span style="display: block">'+text.substring(0,3)+'...</span>'
                                    +'<span style="display: none">'+text+'</span>'
                                    +'<button onclick="changeState(this)" class="btn btn-link">阅读全文</button>'
                                +'</p>';
                        }
                            ht+='<p style="text-align:right;">'+new Date(element["timing"]).Format('yyyy年MM月dd日 HH:mm:ss')+'</p>'
                            +'</div>'
                         +'</div>';
                });
                $("#main").append(ht);
            },"json");
        }
    });
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>
<script>
    $(function(){
        $(window).scroll(function(){
            if($(window).scrollTop() > 100){
                $("#toTop").fadeIn(500);//一秒渐入动画
            }else{
                $("#toTop").fadeOut(500);//一秒渐隐动画
            }
        });
        $("#toTop").click(function(){
            $('body,html').animate({scrollTop:0},500);
        });
    });
</script>

</html>