<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/bootstrap3.3.7/css/bootstrap.min.css}"/>
    <style>
        .oneLine{
            overflow: hidden;/*内容超出后隐藏*/
            text-overflow: ellipsis;/* 超出内容显示为省略号*/
            white-space: nowrap;/*文本不进行换行*/
        }
    </style>
</head>
<body style="background-color: #f6f6f6">
    <nav style="background-color: white" class="navbar navbar-default">
        <div class="container">
            <!-- 可以放一个logo -->
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">XC</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/index}">吐槽</a></li>
                    <li><a th:href="@{/study/studyIndex}">学习</a></li>
                    <li><a th:href="@{/enjoy/enjoyIndex}">娱乐</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" action="" method="post">
                            <div class="form-group">
                                <input type="text" id="keyword" name="keyword" class="form-control" placeholder="搜索关键字">
                            </div>
                            <button type="button" class="btn btn-default">搜索</button>
                        </form>
                    </li>
                    <li th:if="${session.userDO}!=null" class="dropdown">
                        <a style="padding: 10px"  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{'/header/'+${session.userDO.header}}" width="20px" src="">
                            <span th:text="${session.userDO.userName}"></span>
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="btn" th:href="@{/setting/home}"><i class="glyphicon glyphicon-home"></i>个人主页</a></li>
                            <li><a class="btn" th:href="@{/setting/settingbase}"><i class="glyphicon glyphicon-cog"></i>个人设置</a></li>
                            <li><a class="btn" th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.userDO}==null">
                        <a style="color: blue" th:href="@{/login}">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <form id="form1" class="form-horizontal" th:action="@{/note/sendNote}" method="post">
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <textarea style="resize: none" class="form-control" placeholder="说点什么吧！" id="say" cols="70" rows="5"></textarea>
                        <textarea id="says" style="display: none" name="says"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button onclick="checkSays()" class="btn btn-primary pull-right" type="button">吐槽</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="main" style="font-family:微软雅黑;">
            <th:block th:if="${not #lists.isEmpty(notes)}">
                <div th:each="note:${notes}" class="row col-md-offset-2 col-md-8">
                    <div style="background-color: white;margin: 5px;padding: 5px">
                        <img style="border-radius:50%;" src="" th:src="@{'/header/'+${note.userDO.header}}" width="24px" height="24px">
                        <span style="font-size: 18px" th:text="${note.userDO.userName}"></span>
                        <!--如果文本长度小于等于10，直接显示-->
                        <p style="margin-left: 30px;font-size: 15px" th:if="${#strings.length(note.text)<=10}" th:utext="${note.text}"></p>
                        <!--如果文本长度大于10-->
                        <p style="margin-left: 30px;font-size: 15px" th:if="${#strings.length(note.text)>10}">
                            <!--截取部分显示，如果没有换行，截取前10个字符，否则截取第一段-->
                            <span class="oneLine" style="display: block;" th:utext="${#strings.substring(note.text,0,(#strings.indexOf(note.text,'<br/>')==-1?10:#strings.indexOf(note.text,'<br/>')))}+'...'"></span>
                            <!--显示全部-->
                            <span style="display: none;" th:utext="${note.text}"></span>
                            <!--切换部分显示与全文显示-->
                            <button onclick="changeState(this)" class="btn btn-link">阅读全文</button>
                        </p>
                        <p style="text-align:right;font-size: 10px" th:text="${#dates.format(note.timing,'yyyy年MM月dd日 HH:mm:ss')}"></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <a id="toTop" href="javascript:void(0);" style="right:50px;position: fixed;bottom: 30px;display: none;">
        <img width="50px" src="" th:src="@{/image/toTop.png}" title="回到顶部">
    </a>
</body>

<script th:src="@{/bootstrap3.3.7/js/jquery.min.js}"></script>
<script th:src="@{/bootstrap3.3.7/js/bootstrap.min.js}"></script>
<script>
    //切换显示部分与显示全文状态
    function changeState(obj) {
        if(obj.innerHTML==="阅读全文"){
            $(obj).prev().prev().css({display:"none"});
            $(obj).prev().css({display:"block"});
            obj.innerHTML="收起";
        }else if(obj.innerHTML==="收起"){
            $(obj).prev().prev().css({display:"block"});
            $(obj).prev().css({display:"none"});
            obj.innerHTML="阅读全文";
        }
    }
    function checkSays() {
        var says = document.getElementById("say").value;
        if(says===""||says===null){
            return false;
        }else{
            //将换行符转换为<br/>，存入数据库
            says = says.replace(/\n|\r\n/g,"<br/>");
            //去掉左右两端的空格
            document.getElementById("says").value = says.replace(/(^\s*)|(\s*$)/g,"");
            $("#form1").submit();
            return true;
        }
    }
    var begin = 0;
    //滚动条到页面底部加载更多note
    $(window).scroll(function(){
        var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
        var scrollHeight = $(document).height();   //当前页面的总高度
        var clientHeight = $(this).height();    //当前可视的页面高度
        if(scrollTop + clientHeight >= scrollHeight){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部
            //滚动条到达底部，采用ajax加载json数据，然后追加到页面
            begin += 5;
            $.post("/note/listNote",{"begin":begin},function (notes) {
                var ht = "";
                //遍历取到的note
                $(notes).each(function (index,element) {
                    ht += '<div class="row col-md-offset-2 col-md-8">'
                                +'<div style="background-color: white;margin: 5px;padding: 5px">'
                                +'<img style="border-radius:50%;" src="/header/'+element["userDO"]["header"]+'" width="24px" height="24px">'
                                +'<span style="font-size: 18px">'+element["userDO"]["userName"]+'</span>';
                        var text = element["text"];
                        if(text.length<=10){
                            ht+='<p style="margin-left: 30px;font-size: 15px">'+text+'</p>';
                        }else {
                            ht+='<p style="margin-left: 30px;font-size: 15px">'
                                    +'<span class="oneLine" style="display: block">'+text.substring(0,text.indexOf("<br/>")===-1?10:text.indexOf("<br/>"))+'...</span>'
                                    +'<span style="display: none">'+text+'</span>'
                                    +'<button onclick="changeState(this)" class="btn btn-link">阅读全文</button>'
                                +'</p>';
                        }
                            ht+='<p style="text-align:right;font-size: 10px">'+new Date(element["timing"]).Format('yyyy年MM月dd日 HH:mm:ss')+'</p>'
                            +'</div>'
                         +'</div>';
                });
                $("#main").append(ht);
            },"json");
        }
    });
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>
<script>
    $(function(){
        $(window).scroll(function(){
            if($(window).scrollTop() > 100){
                $("#toTop").fadeIn(500);//一秒渐入动画
            }else{
                $("#toTop").fadeOut(500);//一秒渐隐动画
            }
        });
        $("#toTop").click(function(){
            //滚动到顶部
            $('body,html').animate({scrollTop:0},500);
        });
    });
</script>

</html>